* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

img {
  max-width: 100%;
}
